body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    /* background-color: skyblue; */
}

#board {
   
   background-image: url("./flappybirdbg.png");
   margin-top: 10px;
   
} 

#play{
    position: relative;
    top: 50px;
    left: 19rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

